#IDE Excluded

#Core Excluded
.htaccess
/wp-admin/
/wp-includes/

#Uploads Excluded
/wp-content/uploads/

#Plugins Excluded
/wp-content/plugins/akismet
/wp-content/plugins/advanced-custom-fields-pro-master
/wp-content/plugins/contact-form-7
/wp-content/plugins/contact-form-7-dynamic-text-extension
/wp-content/plugins/custom-post-type-ui
/wp-content/plugins/hello-dolly
/wp-content/plugins/mobile-menu


