
/*--------------------------------------main---------------------------------------*/
input, textarea{ border-radius: 5px; border: 1px solid #ccc; padding: 5px; outline: none;background: #eee;
}
li, li a{list-style:none; text-decoration: none!important;}
.flexCol { display:flex; align-items: center;}
.flexCol .experience {
    background:#6b94ca;
    color:#fff;
    border-radius:2rem;
    padding:5px 10px;
}
.flexCol .experience span:nth-child(2){
background:#fff;  
color:#c70000; 
border-radius:50%;   
font-weight:bold;
font-size: 2rem;
margin:5px;
padding:1rem;
border:1px dashed #c70000;

}
.flexCol .experience span:nth-child(2){
    position: relative;
    bottom:2px;
    font-weight:bold;
    font-size: 1.5rem;
    
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline:none;
}

/* accordion */
/* plus glyph for showing collapsible panels */
.panel-default>.panel-heading:hover {
    background:#fff;
    text-decoration: none;
}
.panel-default>.panel-heading .panel-title a {
    text-decoration: none;

}
.panel-heading .accordion-plus-toggle:before {
    font-family: FontAwesome;
    content: "\f068";
    float: right;
    color: #c70000;
 }
 
 .panel-heading .accordion-plus-toggle.collapsed:before {
    content: "\f067";
    color:#c70000;
 }
 
 /* arrow glyph for showing collapsible panels */
 .panel-heading .accordion-arrow-toggle:before {
    font-family: FontAwesome;
    content: "\f078";
    float: right;
    color: #c70000;
 }
 
 .panel-heading .accordion-arrow-toggle.collapsed:before {
    content: "\f054";
    color:#c70000;
 }
 
 /* sets the link to the width of the entire panel title */
 .panel-title > a {
    display: block;
 }
/* accordion Ends */
.top_section { margin-left:auto;}
a.mainLogo img { width:160px; margin-top:10px; }
.welcome { text-align:left; }
.desc { margin-top:20px; }
.header-menu h2{display:none;}
.header-menu ul.menu { margin:0 ;padding: 0; }
.header-menu ul.menu{ overflow: hidden; }
.header-menu ul.menu li { float:left; list-style: none; 
	border-right: 1px solid #eaeaea; padding:2px 10px; 
	margin:5px 0 0 0; font-size: 12px;
	}
.header-menu ul.menu li:last-child{ border:none; }
.header-menu ul.menu li  a {color: #777; font-weight:600;}
.header-menu ul.menu li  a:hover {color: #e74c3c}
.breadcrumbWrap {
    padding-right:0;
    padding-left:0;
}
.breadcrumbWrap2 {
    padding:0;
}
.imgAdjust{
    height: 100%;
    background-repeat: no-repeat;
    background-size:cover;
    object-fit: cover;
}
.desc p {font-size: 15px;
     font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
	}


.footCont {
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
} 
.rec img {
    background-color:#F1F1F1;
    border-radius:5px;
    margin-bottom:1em;
    padding:10px;
    width:200px;
}   
.affWith {
    display:flex;
    flex-wrap:wrap;
    padding:0;
    gap:10px;

}
ul.footerList, .footer-widget ul.menu { margin:0; padding: 0; }
ul.footerList li a, .footer-widget ul.menu li a { line-height: 25px; color:#dddddd; }
ul.footerList li a:hover, .footer-widget ul.menu li a:hover{color:#e74c3c;}
.site-info{color:#e74c3c;font-weight:600;}
ul.footerContactList{margin:0; padding:0;}
.list-menu .current_page_item a {
    color: #e74c3c !important;
  }


ul.footerContactList li{line-height: 25px; color:#dddddd; }
.socialWrapper {margin:10px 0;}
.lastRowFooter{ margin-top:40px; }
.trekkingIcon, .peakClimbingIcon, .mountainingIcon, .tourIcon, .riverRaftingIcon, .paraglidingIcon 
{ background:url("../images/icons.png") no-repeat; width:45px; height:50px; }
.trekkingIcon { background-position:-16px -30px; color:#222222; }
.peakClimbingIcon { background-position:-88px -25px; color:#222222; }
.mountainingIcon { background-position:-164px -25px; color:#222222; }
.tourIcon { background-position:-239px -25px; color:#222222; }
.riverRaftingIcon { background-position:-383px -30px; color:#222222; }
.paraglidingIcon { background-position:-458px -30px; color:#222222; }
.trekkingIcon:hover{background-position:-16px -104px;}
.peakClimbingIcon:hover{background-position:-88px -100px;}
.mountainingIcon:hover{background-position:-164px -100px;}
.tourIcon:hover{background-position:-239px -103px;}
.riverRaftingIcon:hover{background-position:-383px -106px;}
.paraglidingIcon:hover{background-position:-458px -109px;}
.whyWrap {border:1px solid #a8a8a8; padding:15px;}
.silhouette { background-image: url("../images/silhouette.png"); height:395px; background-size:cover; }
.blog-postPic, .contentPic, .post-content > p, .post-content a { margin-left:0!important; }
.post-content > p {padding:0!important;}
.detailsContent { margin:10px 0 0 0; }
.npTrek h1{ font-size: 18px; font-weight:bold; }
.category-list, .sidebar .widget ul.menu { margin:0!important; padding:0 15px!important; }
.sidebar ul.menu li.current_page_item { display: none;}
.nepalTrekkingCatagories .project-post {display:inline-table; margin-bottom:30px;}
.nepalTrekkingCatagories .project-post img {width:420px!important;}
.nepalTrekkingCatagories .project-post { width:49%;}
.sidebarStyle { border:1px solid #eee; padding-top:20px; background: #f5f5f5; margin:0; padding:0; }
.midContent { border:1px solid #ccc; background-color: #f1f1f1; }

.trekkingTabs { margin-top:0; }
.trekkingTabs li { width:auto; }
.trekkingTabs li a h2 {font-size: 14px; margin: 3px 0 0 20px;}
.trekkingTabs > li.active > a, .trekkingTabs > li.active > a:hover, .trekkingTabs > li.active > a:focus { padding:15px 10px; }
.trekkingTabs li a {padding:15px 10px;}
.bookContent {background-color:#337AB7; font-weight:bold; font-size: 14px; text-align: center; padding:10px;  }
.bookContent a { color: #ffffff; font-size: 18px; font-family: 'Open Sans', sans-serif;  font-weight: 700;}
.trip-fact {  font-size: 13px; line-height: 30px;}
.trip-fact { padding:0 15px 0 8px; }
.trip-fact .fa{ padding-right:8px; color:#0b3f7a}
.trip-fact .fan { padding-right:0;}
.trip-fact strong, .trip-fact b { font-weight: 600; color: #0b3f7a;}
.category-widget h3 { background-color: #e74c3c; padding:10px; color:#fff; }
.quickForm li input[type="text"], .quickForm li textarea{ width:100%; }
.quickForm li {line-height: 20px;}
.inc-input {padding: 5px 5px;border: solid 1px #DDD;border-radius: 2px; width: 100%; margin: 0px 0px 5px 0px;}
.btnBook { font-weight:bold; font-size: 14px;  }
.formbox {width: auto;padding: 0px;line-height: 1.5; color: #666;}
.formbox p {
margin: 0px !important;
display: flex;
padding-top: 7px;
}
.formbox .writespace {
width: 30%;
background: #6b94ca;
color: #fff;
padding: 5px 10px;
border-radius: 15px 0 0 15px;
}
.formbox p span:nth-child(2){
    width:70%;

}
.formbox p input, .formbox p textarea {
    border-radius:0;
    width:100%;
}
.formbox p input[type="radio"]{
    width:auto;
}
.formbox p textarea {
    width:100%;
    height:100%;
}
.d-flex{
    display:flex;
    align-items: center;
}
.d-flex p {
    padding-top:1rem;
    margin-left:auto;
}


.nav>li>a {
    padding:15px 12px;
}
.detailsContent label {
    display:block;
}

.menu-why-choose-us-container ul li a::before{
    top:7px!important;

}
.contactInfoSidebar .text-widget .textwidget p {
    line-height: 2;
}
.formbox p .mode-payment select {
    width: 100%;
    padding: 10px;
    border:1px solid #ccc;
    background:#EEEEEE;

}
.airport-pickup .wpcf7-radio {
    display:flex;
    border: 1px solid #ccc;
    padding: 5px 0;
}
.airport-pickup .wpcf7-radio .wpcf7-list-item.first {
    margin:0 10px;
}
.airport-pickup .wpcf7-radio .wpcf7-list-item.first input[type="radio"],  
.airport-pickup .wpcf7-radio .wpcf7-list-item.last input[type="radio"] {
    position: relative; top:2px; margin-left:3px;
}
.fixedDeparture {
  padding:12px 20px;
  background:#A2ACBD;
  
  border: 1px solid #A2ACBD;
  text-align: center;
    
    }
   
    .fixedDeparture a {
        color:#ffffff;
        font-weight:bold;
        font-size: 16px;
                
    }
    
.fixedDepartureModal {
    overflow: auto;
    max-height:500px;
}  

.fixedDeparture-form {
    overflow:auto;
    height:650px;
}
    
.fdTbl { 
    width:99%;
    background-color:rgba(107, 148, 202, 0.01); 
    
}
.fdTbl thead {
    /* background:rgba(107, 148, 202, 0.753); */
    background:#3a3d41;

}
.fdTbl tr th {
    color:#FFF;
    padding:15px 5px 15px 15px;
}
.fdTbl tr th:nth-child(1) { width:40%;}
.fdTbl tr th:nth-child(2) { width:20%;}
.fdTbl tr th:nth-child(3) { width:10%;}
.fdTbl tr th:nth-child(4) { width:15%;}
.fdTbl tr td {
    padding:10px 15px;
}
.fdTbl tr td:nth-child(4) {
    text-align: center;
}

.fdTbl tr td a.button-one {
    color:#0b3f7a;
    border: 1px solid #cfcfcf;
    background-color:#FFF;
    padding:8px;
    font-size:12px;

    
    
}
.fdTbl tr td a.button-one:hover {
    background: rgba(231, 76, 60, 1);
    color:#FFF;
    
}
.fdTbl tr td .fa {
    padding-right:5px;
    color:#6b94ca;
}

/*Read More*/


.fdTbl tr.moreList {
    display:none;
    padding: 10px;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: #fff;
    box-shadow: 0 1px 1px #ccc;
    margin-bottom: 5px;
    background-color: #f1f1f1;
}


.loadMore {
    display:flex;
    margin-top:1rem;
}

#loadMore {
    padding:10px;
    text-align: center;
    text-decoration: none;
    background-color: #33739E;
    color: #fff;
    border-radius:5px;
    transition: all 600ms ease-in-out;
    -webkit-transition: all 600ms ease-in-out;
    -moz-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
}
#loadMore:hover {
    background-color: #193c53;
    color: #ffffff;
}
.full {
    color:#c70000;
    font-weight:700;
}
.dateSelect{
    display: flex;
    justify-content: flex-end;
}
.dateSelect select{
    padding: 5px 10px 5px 10px;
    margin-bottom: 1rem;
    outline: none;
}

.destinationWrap h3 {
    text-align: center;
    font-weight:700;
}
.destinationPics .project-post {
    width:auto; 
}

.destinationPics .project-post img {   
    width: 377px!important;
   
}
.destinationOthers{
    display:flex;
    flex-direction: column;
    align-items: center;
  
}
.destinationOthers a {
    margin:5px 0;
    width:250px;
    font-size: 1.8rem;
    font-weight:500;
}
.destinationOthers .callN {   
   font-weight:bold;
   font-size:2rem;
   margin:10px 0; 
}
.destinationOthers .callN a {
    font-weight:bold;
    font-size:2rem;  
}
.destinationOthers__up {
    display:flex;

}
.destinationOthers__up a {
    margin:10px 5px;
}

.specialBtn, .search-btn{
    color:#0b3f7a;
    border: 1px solid #222222;
    background-color:#FFF;
    padding:8px;
    font-size:12px;
    font-weight:bold; 
    text-transform: uppercase; 
    float:right;
    line-height: 1.4;
}
.specialBtn:hover, .search-btn:hover {
    background: rgba(231, 76, 60, 1);
    border: 1px solid #e74c3c;
    color:#FFF;
    text-decoration: none;
    
}

.is-style-default img {
    border: 8px solid rgb(108 146 195 / 83%);
    -moz-box-shadow: 0 8px 6px -6px black;
  -webkit-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
}
.footAlign {
    display:flex;
}


.content__404--left .msg-text--not-found {
    margin-bottom:2rem;

}
input[type=email], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=url], textarea {
    width: 100%;
    padding: 0.3125rem 0.5rem;
    height: 50px;
    border: 1px solid rgba(1, 38, 144, 0.2);
    transition: border-color 0.35s;
}
.search-field {
    margin-bottom:2rem;
}

/**************Mobile and ipad****************/

/* sm  */
@media screen and (max-width: 767px) {
    .navbar-nav.navbar-right{
        margin: 0;
        background: #3a3d41;
        padding: 1rem;
    }  
    .navbar-default .navbar-nav > li > a {
        color:#fff;
    }

    .navbar-nav li ul.drop-down, .navbar-nav li ul.drop-down li ul.drop-down.level-1 {
        margin-left: 0.7rem;
    }
    .navbar-nav li ul.drop-down, .navbar-nav li ul.drop-down li ul.drop-down.level-1 li a{
        font-weight:normal;
    }
    .destinationOthers__up {
        display:flex;
        flex-direction: column;
    }
    .destinationOthers__up a {
        margin: 5px 5px;
    }
    .footCont {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .recAff {
        margin:20px 0;
    }
    .flexCol {
        flex-direction: column;
        margin-top:2em;
    }
    .top_section {
        margin-left:0;
    }
    .blog-box .row .col-md-9 {
        padding-left: 15px;
    }
    .nepalTrekkingCatagories .project-post {
        width:100%;
    }
   
}


@media screen and (max-width:1000px)  {
    #container {
        padding-top: 172px;
    }
    .navbar-default .navbar-nav > li > a {
        color:#fff;
    }
    .navbar-nav.navbar-right{
        margin: 0;
        background: #3a3d41;
        padding: 1rem;
        width:100%;
    }  
    .navbar-header .collapse, .navbar-toggle {
        display:block !important;
      }
      .navbar-collapse {
        /* margin-top: 170px;   */
      }

    .navbar-collapse.collapse.in {
        display: block !important;
        width:100%;
        
      }
      .navbar-header {
        float: none;
      }

    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-collapse {
        overflow-x: visible !important;
    }

    .navbar-collapse.in {
      overflow-y: auto !important;

    }
      .navbar-fixed-top .navbar-collapse {
        max-height: 340px;
    }
    .navbar-fixed-top .navbar-collapse {
        padding:5px 14px 0 0;

    }
    .navbar-nav li ul.drop-down li a, .navbar-nav li ul.drop-down li ul.drop-down.level-1 li a {
        color:#ccc;
        line-height: 2;
        font-weight:700;
    }
    .navbar-nav > li { float:none;}
    .navbar-nav li ul.drop-down, .navbar-nav li ul.drop-down li ul.drop-down.level-1 {
        background: transparent;
        border: none;
        -webkit-transform: rotateX(0deg);
        -moz-transform: rotateX(0deg);
        -ms-transform: rotateX(0deg);
        -o-transform: rotateX(0deg);
        transform: rotateX(0deg);
        -webkit-transform: rotateY(0deg);
        -moz-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        -o-transform: rotateY(0deg);
        transform: rotateY(0deg);
        position: relative;
        width: auto;
        visibility: visible;
        opacity: 1;
        top: inherit;
        left: inherit;
        margin-left: 0.7rem;
    }
    .footCont {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .recAff {
        margin:20px 0;
    }
    
    .footer-widget { margin-top:2rem;}
    .nav-tabs > li {
        float:none;
        width:100%!important;
    }
    .blog-box .row .col-md-9 {
        padding-right:0;
    }
}





